<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pengalaman</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ryan Ardley</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Menurut saya kalau bisa tugas terlalu banyak dan kelas memakan waktubanyak sekali dimana video 1 jam saya perlu waktu lebih untuk dapat mengikuti
          bisa 1jam setengah minim kadang bisa 2jam. Setelah mengikuti video tugas langsung muncul jadi tidak paham hanya mengikuti
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

