<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your PHOTO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let foto of urlimagtestorage;index as position;">
    <ion-item>
      <ion-label>namagambar[index]</ion-label><br>
    </ion-item>
    <ion-item>
      <ion-img [src]="foto" [routerLink]="['/tab4',foto]"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
